h1 {
	font-size: 36px;
}

form {
	margin-top: 40px;
}

body {
	background-color: #161616;
	color: #c0c0c0;
}

h2 {
	color: #bfff00;
}

a {
	color: #e6add8;
}

img {
	width: auto;
	height: 100px;
	margin-left: 50px;
}

.page {
	display: flex;
        justify-content: center;
}

.positive {
	color: #00cc00;
}

.negative {
	color: #ff0000;
}

.heading {
	display: flex;
}

@Media only screen and (min-width: 1001px) {
	.block {
		margin-right: 40px;
	}
}

.container {
}

.column {
	width: 75%;
	margin-left: 40px;
}

.footer {
        display: flex;
        justify-content: space-between;
        background-color: #161616;
        position: fixed;
        bottom: 0px;
        width:100%;
	border: 2px solid #c0c0c0;
}

#coinlist {
	margin-left: 20px;
	padding: 5px;
	border: 1px dotted #c0c0c0;
}

@media only screen and (max-width: 1000px) {
	#coinlist {
		display: none;
	}

	p {
		font-size: 26px;
	}

	h2 {
		font-size: 48px;
	}


	.column {
		text-align: center;
	}
}
